.site-header {
    background-color: #1bbc9b;
    color: #ecfdf9;
    height: 100vh;
    font-family: moonspace;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.profile-pic{
    border-radius: 60%;
    height: 200px;
    width: 200px;
    margin-top: 50px;
}

.site-header-content{
    margin: 10px;

}
.course-link {
    color: aqua;
}
body {
    margin: 0px;

}